.bg{
    color: black;
}
.bgg{
    color: aqua;
}
.bbg{
    color: blueviolet;
}
.navbar{
    background-color: aqua;
}
.float-right{
    text-align: right;
    position: relative;
    top: 40px;
    
}